body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background: #fcf8f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.input-area, .steps-area{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 10px;
}

.steps-area {
    text-align: left;
}

h1, h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #10ec1b;
    color: #fff;
    border: none;
    border-radius: 0%;
    cursor: pointer;
}
button:hover {
    background-color: #46f04e;
}

img {
    width: 55%;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}